# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://rvijgvygtltgguprajrd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2aWpndnlndGx0Z2d1cHJhanJkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU4NTU2MDksImV4cCI6MjA3MTQzMTYwOX0.H0TQJWWJ6LIq3vp002FbuVcDtSwoQ-Nt2nFe0cwSJP8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2aWpndnlndGx0Z2d1cHJhanJkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTg1NTYwOSwiZXhwIjoyMDcxNDMxNjA5fQ.ZGVl6quPNmsIUEJv38qrimLU3Dm5-ZxnFr8cK5RQ2jA
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2aWpndnlndGx0Z2d1cHJhanJkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTg1NTYwOSwiZXhwIjoyMDcxNDMxNjA5fQ.ZGVl6quPNmsIUEJv38qrimLU3Dm5-ZxnFr8cK5RQ2jA